section.guideline-apps {
    background: url('/viindoo_theme_common/static/src/img/solution-banner.png') no-repeat center/cover;

    .solution-title {
        margin: 1rem 0 1rem 0;

        h4 {
            color: black;
        }
    }

    .card {
        border-color: #EDEDED;
    }

    .container {
        .guide-primary {
            padding-bottom: 2rem;
            width: 88%;
            position: relative;
            left: 10%;
            top: -20%;
            @include media-breakpoint-down(sm) {
                left: 0;
                top: 0;
            }
            .card {
                border-radius: 8px;
            }

            .card,
            .card-body {
                background-color: #EDEDED !important;
            }
        }

        .post-info {
            margin-left: 2rem;

            .post-date {
                color: $gray-600;
            }
        }

        .guideline-img img {
            border-radius: 8px;
            width: 100%;
            height: 100%;
        }

        .hashtag,
        .card-text,
        .date-comments {
            font-weight: 600;
            color: $gray-text;
        }

        .date {
            margin-right: 5rem;
        }

        .other-views {
            margin-bottom: 1rem;

            .guideline-img {
                max-width: 500px;
                flex-basis: 100%;

                img {
                    object-fit: cover;
                    max-height: 150px;
                }
            }
        }
    }
}
