section.trial-section {
    padding: 1rem 0;
    background-color: lighten(lightgray, 12);

    .section-title {
        text-align: right;
        margin-right: 2rem;
        @include media-breakpoint-down(md) {
            text-align: center !important;
        }
        h4, .line-one {
            font-size: 1.6rem;
            color: $secondary;
        }

        p, .line-two {
            color: $secondary;
            font-size: 1.05rem;
        }
    }

    .trial {
        .btn {
            color: $white;
            font-size: 1.2rem;
            font-weight: 600;
            height: 4rem;
            padding: 2rem;
            line-height: 0;
            border-radius: 0.3rem;
            @include theme-transition(0.2s, linear !important);

            &:hover {
                color: $white;
            }

            &:active {
                transform: translateY(10px) scale(0.98);
            }
        }
    }
}
