// Customize the editor spacing (e.g. pt32, pb32,..., mt128, mb128...) to fit the medium screen or smaller.
// Because these classes Odoo does not support responsive.
// Useful when you align padding, margin with editor.
@mixin mobile-o-vspacing() {
    @for $i from 0 through (256 / 8) {
        @include o-vspacing($i * 8, $factor: 0.3); // medium screen: 0.3; default: 1;
    }
}

@include media-breakpoint-down(md) {
    @include mobile-o-vspacing();
}

.gray-bg {
	background-color: $light !important;
}

.v-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.badge-info {
    color: darken($secondary, 5) !important;
    border: none !important;
    background-color: lighten($secondary, 56) !important;
}

.badge-padding {
    padding: 0.5rem 0.7rem;
}
/*PAGER*/

.page-link {
    margin-right: 5px;
}


.select2-search-choice {
    color: darken($secondary, 5) !important;
    border: none !important;
    background: lighten($secondary, 56) !important;
    font-weight: 600;
}

/*Fullscreen Iframe*/
.media_iframe_video {
    height: 0;
    padding-bottom: 56.25%; //for 16:9 ratio;
}

body {
    @include theme-transition(0.2s, linear);
    line-height: 1.5;
    overflow-x: hidden;

    .text-hl {
        color: $primary;
    }


    .form-control {
        border: 1px solid $gray-border;
    }

    img {
        max-width: 100%;
    }

    section {
        position: relative;
    }

    .container {
        position: relative;
    }

    .bg-seagreen-100 {
        @include background-opacity($seagreen-light-low-saturate, 0.25);
    }

    .navbar-toggler {
        border: none;
        padding: 0.25rem 0.5rem;

        &:active,
        &:focus,
        &.active {
            border: none;
            outline: none;
        }
    }
	#wrapwrap {
		margin: 0 auto;
		.navbar {
			.container {
				position: static;
			}
		}
        .explore {
            a {
                font-weight: 600;
                &:hover {
                    .fa {
                        transform: translateX(5px);
                    }
                }
            }
            a, i {
                @include theme-transition(0.3s, linear);
            }
        }
	}
}


/* BLOGS PAGE*/
.website_blog {
	.o_wblog_post_page_cover.o_record_has_cover {
		.o_wblog_post_title {
			padding-top: 7rem;
		}
	}

    #o_wblog_post_main {
        .o_wblog_read_text {
            font-size: 1rem;
            line-height: 1.5;
            font-weight: 500;
            color: $gray-800;
        }
    }
}
/* END BLOGS PAGE*/

/*JOB*/
#hr_recruitment_form {
	.form-group {
		margin-bottom: 1.5rem;
	}
	.o_website_form_send {
		font-weight: 600;
	}
}
/*END JOB*/

/*LOGIN*/
.oe_website_login_container {
    background-color: $light;
    padding: 2rem 0;
    position: relative;
    overflow: hidden;

    &:before {
        content: "";
        width: 740px;
        height: 750px;
        position: absolute;
        border-radius: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: radial-gradient(circle, rgba(177, 227, 234, 0.6) 0%, rgba(177, 227, 234, 0.6) 50%, rgba(177, 227, 234, 0.2) 50%, rgba(177, 227, 234, 0.2) 100%);
    }

    .oe_login_form, .oe_signup_form, .oe_reset_password_form {
        background: $white;
        padding: 3rem;
        border-radius: 5px;
        box-shadow: 0 0 50px -10px;
        max-width: 400px !important;

        .form-control {
            &:not(.is-invalid) {
                border: none;
            }
            background-color: $light;
        }

        .btn-link {
            color: $primary;
        }
    }
}
/*END LOGIN*/

/* PORTAL */
.o_portal_wrap {
    font-size: 0.9375rem; // using odoo default value;
}

.btn-link {
  min-width: 100px;

  &:hover {
    text-decoration: none;
  }
}
