.o_mega_menu {
    .nav-link {
        background-color: unset !important;
        color: unset !important;
    }

    border-radius: 4px !important;
    background-color: white;
    @include media-breakpoint-down(md) {
        background-color: unset;
        border: none;
    }

    .erponline_mega {
        .nav-link {
            border-radius: unset !important;
            color: #333 !important;
            background-color: unset;
            padding: 0.5rem 1.5rem !important;

            &:first-child {
                text-transform: uppercase;
                background-color: #777 !important;
                color: white !important;
            }

            &:hover {
                background-color: #3c94d2 !important;
                color: #fff !important;
            }

            @include media-breakpoint-down(md) {
                color: white !important;
            }
        }
    }
}
