/* SERVICES */
section.services-section {
    margin: 4rem auto 6rem;

    .section-content {
        margin-top: 3rem;

        .nav-tabs {
            border-bottom: none;

            .nav-item {
                border: none;
                height: 6.5em;
                white-space: nowrap;
                .nav-link {
                    font-size: 1.3rem;
                    border-bottom: transparent 3px solid;
                    background: none;
                    color: $gray-800;
                    line-height: 1.5;
                    text-align: center;
                    border-radius: $border-radius-0;
                    padding: 0.5rem 0;
                    @include theme-transition(0.3s, linear);

                    &.active {
                        transform: translateY(-5px);
                        border-color: $transparent $transparent $primary;
                    }

                    &:hover,
                    &:focus {
                        border-color: $transparent $transparent $primary;
                    }
                }
            }
        }

        .tab-content {
            margin: 0.5rem auto 1rem;

            .tab-pane {
                .service-box {
                    padding: 1rem 0.5rem;
                    text-align: center;
                    margin-top: 2rem;
                    border: 1px solid $gray-border;
                    border-radius: $border-radius-5;
                    background-color: $white;
                    @include theme-transition(0.5s, linear);

                    .service-img {
                        width: 183px;
                        height: 75px;
                        display: inline-block;
                        margin: 0 auto;
                        align-items: center;
                        padding: 0;
                        position: relative;

                        > .fa {
                            font-size: 3.8rem;
                            display: inline-block;
                            line-height: 159px;
                            max-width: 183px;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%) !important;
                        }
                    }

                    .service-details {
                        text-align: center;

                        .service-name {
                            font-size: 1.358rem;
                            font-weight: 600;
                            color: $gray-800;
                            line-height: 1.5;
                            display: block;
                            height: 1.5em;
                            margin: 0.35rem 0;
                            overflow: hidden;
                        }

                        .service-des {
                            display: block;
                            margin: 0 1rem;
                            height: 3em;
                            line-height: 1.5;
                            overflow: hidden;
                        }
                    }

                    .service-control {
                        margin: 1.5rem auto 1rem;

                        a.btn {
                            border: 1px solid $primary;
                            background-color: $white;
                            color: $primary;
                            font-weight: 500;
                            box-shadow: none;
                        }
                    }

                    &:hover {
                        .service-control a.btn {
                            &:hover {
                                background: $primary;
                                border: 1px solid $primary;
                                color: $white;
                            }
                        }
                    }
                }
            }
        }
        @include media-breakpoint-down(md) {
            .nav-tabs {
                flex-wrap: nowrap;
                overflow-x: auto;
                overflow-y: hidden;

                .nav-item {
                    height: auto;

                    .nav-link {
                        font-size: 1.23rem;
                        height: 6.5rem;
                        overflow: hidden;
                    }
                }
            }
        }
    }

    .services-details-link {
        text-align: center;

        a {
            color: lighten($gray-600, 2);
            font-size: 1rem;
        }
    }

    .service-vt-right {
        width: 800px;
        height: 800px;
        position: absolute;
        border-radius: 100%;
        background-color: rgba(216, 245, 249, 0.2);
        right: -350px;
        top: 0;
        z-index: -1;

        &:before {
            content: "";
            height: 75%;
            width: 75%;
            position: absolute;
            border-radius: 100%;
            background-color: rgba(216, 245, 249, 0.4);
            right: 12.5%;
            top: 12.5%;
        }

        &:after {
            content: "";
            width: 50%;
            height: 50%;
            position: absolute;
            left: 25%;
            top: 25%;
            background: rgba(216, 245, 249, 1);
            border-radius: 100%;
        }
    }
}

/* END SERVICES */
@include media-breakpoint-down(sm) {
    section.services-section {
        margin: 2rem auto;

        .section-content {
            .tab-content {
                margin: 1em auto;
            }

            .nav-tabs {
                .nav-item {
                    max-width: max-content;
                    .nav-link {
                        font-size: 1em;
                        height: auto;
                        font-weight: 500;

                        font {
                            font-size: 1.3em !important;
                        }
                    }
                }
            }
        }

        .service-vt-right {
            height: 600px;
            width: 600px;
        }
    }
}

@media (max-width: 480px) {
    section.services-section {
        .section-title {
            h5 {
                font-size: 1.25rem;
            }
        }

        .section-content {
            .nav-tabs {
                .nav-item {
                    .nav-link {
                        font-size: 1.1rem;

                        font {
                            font-size: 1.1rem !important;
                        }
                    }
                }
            }
        }
    }
}
