//------------------------------------------------------------------------------//
// Presets
//------------------------------------------------------------------------------//

$o-website-values-palettes: (
    (
        'color-palettes-name': 'generic-12',

        // Header
        'header-font-size':                 1rem,
        'header-template':                  'default',

        // Font
        'font':                             'Open Sans',
        'headings-font':                    'Open Sans',
        'navbar-font':                      'Open Sans',
        'buttons-font':                     'Open Sans',

        // Links
        'link-underline':                   'never',

        // Buttons
        'btn-padding-y':                    .45rem,
        'btn-padding-x':                    1.35rem,
        'btn-padding-y-sm':                 .3rem,
        'btn-padding-x-sm':                 .9rem,
        'btn-padding-y-lg':                 .6rem,
        'btn-padding-x-lg':                 1.8rem,
        'btn-border-radius':                10rem,
        'btn-border-radius-sm':             10rem,
        'btn-border-radius-lg':             10rem,

        // Footer
        'footer-template':                  'headline',
    ),
);

//------------------------------------------------------------------------------//
// Fonts
//------------------------------------------------------------------------------//

$o-theme-h1-font-size-multiplier: (62 / 16);
$o-theme-h2-font-size-multiplier: (32 / 16);
$o-theme-h3-font-size-multiplier: (28 / 16);
$o-theme-h4-font-size-multiplier: (24 / 16);
$o-theme-h5-font-size-multiplier: (21 / 16);
$o-theme-h6-font-size-multiplier: 1;

$o-theme-headings-font-weight: 700;

$o-theme-font-configs: (
	'Open Sans': (
        'family': ('Open Sans', sans-serif),
        'url': 'Open+Sans:300,300i,400,400i,700,700i',
    ), 
    'Source Sans Pro': (
        'family': ('Source Sans Pro', sans-serif),
        'url': 'Source+Sans+Pro:300,300i,400,400i,700,700i',
    ),
    'EB Garamond': (
        'family': ('EB Garamond', serif),
        'url': 'EB+Garamond:300,300i,400,400i,700,700i',
    ),
    'Spartan': (
        'family': ('Spartan', sans-serif),
        'url': 'Spartan:300,300i,400,400i,700,700i',
    ),
);
