section.s_landingpage_solution {
    background: #F9F9F9;

    .so_text {
        text-align: center;
        margin-bottom: 90px;

        span {
            display: block;
        }

        .so_title {
            color: #834486;
        }

        .so_detail {
            color: #000;
        }
    }

    .so_body {
        .container-fluid {
            width: 80%;
        }

        .so_line_one {
            grid-template-columns:max-content max-content auto;
            grid-gap: 110px;
            margin-bottom: 70px;
        }

        .so_line_two {
            grid-template-columns:auto max-content max-content;
            grid-gap: 110px;
        }

        .so_block {
            .so_block_title {
                font-size: 1rem;
                color: #000;

                &.so_block_title_right_two {
                    margin-left: 40% !important;
                }

                &.so_block_title_left_one {
                    margin-right: 40% !important;
                }

                &.so_block_title_right_one {
                    margin-left: 40% !important;
                }

                &.so_block_title_left_two {
                    margin-right: 40% !important;
                }
            }

            .so_block_items {
                grid-gap: 25px;

                &.so_block_items_three {
                    grid-template-columns:repeat(3, max-content);
                }

                &.so_block_items_four {
                    grid-template-columns:repeat(4, max-content);
                }

                &.so_block_items_five {
                    grid-template-columns: repeat(5, max-content);
                }

                &.so_block_items_five_reverse {
                    grid-template-columns: auto repeat(5, max-content);
                }

                .so_item_name {
                    text-align: center;
                    font-size: 1rem;
                    color: #000;
                    position: absolute;
                    width: 150%;
                    margin-left: -25% !important;
                    top: 100%;
                }

                .so_item_img {
                    width: 74.26px;
                    height: 76.92px;
                    margin: 1.25rem 0 0.625rem;
                    object-fit: cover;
                    border-radius: 3px;
                }

                .so_block_item {
                    text-align: center;
                    position: relative;
                }

                .so_block_items_color {
                    grid-template-columns: max-content max-content;
                    grid-gap: 10px;
                }

                .so_block_item_color {
                    width: 74.26px;
                    height: 76.92px;
                    background: #e0e0e0;
                    border-radius: 3px;
                    border: 1px solid #D1D1D1;
                    margin-top: 1.25rem;

                    &.so_block_item_color_invisible {
                        background: rgba(0, 0, 0, 0);
                    }
                }
            }
        }
    }

    .so_grid {
        display: grid;
    }

    .so_btn_more {
        margin-top: 110px;

        .btn {
            padding: 10px 20px;
        }
    }
}

/* END SOLUTIONS LANDINGPAGE*/

@media (max-width: 1919px) {
    body {
        main {
            section.s_landingpage_solution .so_body {
                .container-fluid {
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 1599px) {
    body {
        main {
            section.s_landingpage_solution .so_body {
                .so_line_one, .so_line_two {
                    grid-gap: 40px;
                }

                .so_block_items_color .so_block_item_color:first-child {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 1319px) {
    body {
        main {
            section.s_landingpage_solution {
                .so_body {
                    .container-fluid {
                        width: 90%;
                    }

                    .so_line_one {
                        grid-template-columns:3fr 3fr 4fr;
                        grid-gap: 50px;
                    }

                    .so_line_two {
                        grid-template-columns:4fr 3fr 3fr;
                        grid-gap: 50px;
                    }

                    .so_block {
                        .so_block_title {
                            &.so_block_title_right_two {
                                margin-left: 0 !important;
                            }

                            &.so_block_title_left_one {
                                margin-right: 0 !important;
                            }

                            &.so_block_title_right_one {
                                margin-left: 0 !important;
                            }

                            &.so_block_title_left_two {
                                margin-right: 0 !important;
                            }
                        }

                        .so_block_items {
                            grid-gap: 15px;

                            &.so_block_items_three {
                                grid-template-columns:repeat(3, 1fr);
                            }

                            &.so_block_items_four {
                                grid-template-columns:repeat(3, 1fr);
                            }

                            &.so_block_items_five {
                                grid-template-columns: repeat(4, 1fr);
                            }

                            &.so_block_items_five_reverse {
                                grid-template-columns: repeat(4, 1fr);
                            }

                            .so_block_items_color {
                                display: none;
                            }

                            .so_block_item_color {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1199px) {
    body {
        main {
            section.s_landingpage_solution {
                .so_body {
                    .container-fluid {
                        width: 90%;
                    }

                    .so_block {
                        .so_block_items {
                            grid-gap: 15px;

                            .so_item_name {
                                font-size: 0.75rem;
                            }
                        }
                    }
                }

                .so_btn_more {
                    margin-top: 70px;
                }
            }
        }
    }
}

@media (max-width: 991px) {
    main {
        section.s_landingpage_solution {
            .so_body {
                .so_block {
                    .so_block_items {
                        .so_item_img {
                            width: 63px;
                            height: 65px;
                        }
                    }

                    .so_block_title {
                        font-size: 0.75rem;
                    }
                }
            }

            .so_btn_more .btn {
                padding: 5px 20px;
            }
        }
    }
}

@media (max-width: 767px) {
    body {
        main {
            section.s_landingpage_solution .so_body {
                .so_line_one, .so_line_two {
                    grid-template-columns: 100%;
                    grid-gap: 3rem 50px;
                    margin-bottom: 3rem;
                }

                .so_block .so_block_items {
                    .so_item_name {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 480px) {
    section.s_landingpage_solution {
        .so_body .so_block .so_block_items .so_item_name {
            font-size: 0.75rem
        }

        .so_text {
            margin-bottom: 40px;
        }
    }
}
