.viindoo_megamenu_col {
  padding: 0 15px;

  &:last-child {
	border-right: none;
  }

  @include media-breakpoint-down(sm) {
	animation: none !important;
  }

  .viindoo_megamenu_caption {
	text-align: center;

	.mega-img {
	  position: relative;
	  width: 140px;
	  height: 65px;
	  max-height: 120px;
	  display: inline-flex;
	  margin: 0px auto;
	  align-items: center;
	  padding: 5px 0px 0px;

	  span,
	  img {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	  }

	  img {
		max-width: 70px;
		max-height: 50px;
	  }

	  > span.fa {
		font-size: 4rem;
		display: inline-block;
		line-height: 120px;
		max-width: 183px;
		color: $primary;
	  }
	}

	h4 {
	  margin: 0 auto;
	  font-weight: 600;
	  font-size: 1.5rem;
	  color: inherit;
	}

	p {
	  color: lighten($gray-600, 2);
	  font-size: 90%;
	}
  }

  .viindoo_megamenu_content {
	a {
	  color: lighten($gray-600, 2);
	  line-height: 1.4;
	  height: auto;
	  @include theme-transition(0.5s, ease);

	  &:hover {
		text-decoration: none;

		&, & > font {
		  color: $secondary !important;
		}
	  }

	  .badge {
		border-radius: $border-radius-10;
		color: $white;
		font-weight: 600;
		padding: 0.25rem 0.8rem;
		margin: 0 0 0 0.5rem;
		height: 1.2rem;
	  }

	  .badge-success {
		background-color: $secondary;
	  }
	}
  }
}

@include media-breakpoint-down(sm) {
  .viindoo_megamenu_col {
	padding-bottom: 1.5rem !important;
  }
  .viindoo_mega_menu {
	overflow-y: auto;
	max-height: 60vh;

	.container {
	  width: 100%;
	  max-width: 100%;
	}
  }
  .viindoo_megamenu_col {
	border-right: none;

	.viindoo_megamenu_caption:not(:first-child) {
	  margin-top: 2rem;
	}

	.viindoo_megamenu_caption {
	  text-align: left;
	  display: flex;
	  flex-direction: column;

	  .mega-img {
		width: 100%;
		margin-bottom: 0.5rem;

		img {
		  position: initial;
		}
	  }

	  p {
		margin-bottom: 0.3rem;
	  }

	  h4, p:first-child {
		font-weight: 600;
		font-size: 1.2rem;
		margin: 0.5rem 0;
	  }
	}

	.viindoo_megamenu_content {
	  margin-top: 1rem;
	}
  }
}
